

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    scroll-behavior: smooth;
}

header.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

header .navbar-brand {
    font-weight: bold;
}

header .navbar-brand img {
    display: block;
    margin: 0 auto;
}

header .navbar-nav .nav-link {
    color: black;
}

header .navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-item.dropdown:hover .nav-link {
    color: #007bff; /* Sets the text color on hover */
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: #007bff; /* Sets the background color on hover for dropdown items */
    color: white; /* Sets the text color on hover for dropdown items */
}

#home {
    background-image: url('assets/logo_top.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 100px;
}

#home .display-4 {
    font-weight: bold;
    margin-top: 3%;
    padding-top: 400px;
}

#services .col-md-4 {
    margin-bottom: 2em;
    cursor: pointer;
}

#services .fa-3x {
    color: #007bff;
    margin-bottom: 1em;
}

.service-description {
    display: none;
    margin-top: 1em;
}

#testimonials .carousel-inner {
    margin-top: 2em;
}

.testimonial-text {
    font-size: 1.2em;
    font-style: italic;
}

.testimonial-author {
    font-weight: bold;
    margin-top: 1em;
}

#contact .form-control {
    border-radius: 0;
}

#contact button {
    background-color: #007bff;
    border: none;
    padding: 0.5em 2em;
    color: white;
}